# Ambientes virtuais
.venv/
venv/
env/
ENV/
*.egg-info/

# Arquivos e pastas de cache do Python
__pycache__/
*.py[cod]

# Arquivos de notebook e metadados
.ipynb_checkpoints/

# Configurações de IDEs
.vscode/
.idea/

# Arquivos do Jupyter
*.nbconvert.ipynb
previsao_insumos.csv
# Arquivos sensíveis
.env
