.venv/
__pycache__/
*.pyc


# Arquivos de cache Python
__pycache__/
*.py[cod]
*.pyo

# Notebooks convertidos ou temporários
.ipynb_checkpoints/

# Dados temporários e resultados
*.csv
*.xlsx
*.json
*.log

# Arquivos de previsão e imagens geradas
*.png
*.jpg
*.pdf

# IDEs e editores
.vscode/
.idea/

# Sistemas operacionais
.DS_Store
Thumbs.db

# Outros
*.bak
